body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.menu-bar {
    background-color: #333;
    overflow: row;
}

.menu-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-bar li {
    float: left;
    position: relative;
}

.menu-bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

.menu-bar a:hover {
    
    background-color: white;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown li {
    float: none;
}

.dropdown a {
    padding: 10px 15px;
}

.menu-bar li:hover .dropdown {
    display: block;
}

nav {
    background-color: #3e2723;
    color: #ffe0b2;
    padding: 5px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-size: small;
}

nav a:hover {
    background-color: #ffe0b2;
    color: #3e2723;
    border-radius: 5px;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    background-color: #3e2723;
    color: #ffe0b2;
    column-gap: 0cap;
    border-radius: 50px ;
    margin-top: 50px;
}

p{
    margin-top: 0px;
    text-align: center;
    font-family: 'Times New Roman';
    
}
.container {
    text-align: center;
    margin-top: 200px;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.as {
    background-color: #d32f2f;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.as:hover {
    background-color: #8b3801;
}
.a {
    padding: 0%;
    width: 200px;
    color: #ffe0b2;
    background-color: #3e2723;
    margin-bottom: 0px;
    border-radius: 50px;
    margin-top: 30px;
}

.x{
    color: #3e2723;
    font-family: 'Times New Roman';
    margin-top: 0px;
}


.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.search-results {
    margin-top: 20px;
    background-color: #ffe0b2;
    position: relative; /* Position relative to container */
}

.search-results.hidden {
    display: none; /* Initially hidden */
}

.result-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    height: 10px;
    background-color: #d32f2f;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; /* Align text and button */
    align-items: center; /* Center items vertically */
    transition: all 0.3s ease;
}

.result-item:hover {
    background-color: #f0f0f0; /* Change background on hover */
}

.result-item button {
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.result-item button:hover {
    background-color: #8b3801;
}



#featured {
    padding: 20px;
    background-color: #ffe0b2;
}

.carousel {
    display: flex;
    overflow-x: auto;
}

.b{
    height: 20%;
    width: 40%;
    background-color: #ffe0b2;
    color: #d32f2f;
}

.b:hover {
    background-color: #d32f2f;
    color: #ffe0b2;
    text-decoration: none;
  }

.c:hover {
    color: #d32f2f;
    background-color: #ffe0b2;
    text-decoration: none;
  }
.c{
    height: 20%;
    width: 40%;
    background-color: #d32f2f;
    color: #ffe0b2;
}
#block {
    margin-top: 60px;
    padding: 20px;
    background-color: #d32f2f;
}

.carousel {
    display: flex;
    overflow-x: auto;
}

.y{
    height: 20%;
    width: 40%;
    background-color: #d32f2f;
    color: #ffe0b2;
}

.y:hover {
    background-color: #ffe0b2;
    color: #d32f2f;
    text-decoration: none;
  }

.x:hover {
    color: #ffe0b2;
    background-color: #d32f2f;
    text-decoration: none;
  }
.x{
    height: 20%;
    width: 40%;
    background-color: #ffe0b2;
    color: #d32f2f;
}

.restaurant {
    min-width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}


.restaurant img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}



.restaurant-list {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-card {
    flex: 1 1 30%; /* 3 cards per row */
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    text-align: center;
}

.restaurant-card img {
    width: 100%;
    border-radius: 5px;
}

.restaurant-card button {
    padding: 10px 15px;
    color: #f0f0f0;
    background-color: darkgreen;
    border-radius: 5px;
}

.restaurant-card button:hover {
    color: black;
    background-color: lightgreen;
}
#menu {
    padding: 20px;
}

.m {
    margin-bottom: 20px;
}

.menu h2 {
    color: #3e2723
}

.m h4 {
    margin: 10px 0;
    color: #ffe0b2;
    min-width: 50px;
}
.m h3 {
    margin: 10px 0;
    color: #ffe0b2;
    background-color: #d32f2f;
    min-width: 50px;
}

.m p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3e2723
}

.m button{
    background-color: #3e2723;
    color: #ffe0b2;
}

.m button:hover{
    background-color: #ffe0b2;
    color: #3e2723;


}

.m{
    background-image: url(file:///C:/Users/Admin/Desktop/ms.jpg);
}
.n h4 {
    margin: 10px 0;
    color: #d32f2f;
    min-width: 50px;
}
.n h3 {
    margin: 10px 0;
    color: #ffe0b2;
    background-color: #d32f2f;
    min-width: 50px;
}

.n p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3e2723
}

.n button{
    background-color: #3e2723;
    color: #ffe0b2;
}

.n button:hover{
    background-color: #ffe0b2;
    color: #3e2723;


}

.n{
    background-image: url(file:///C:/Users/Admin/Desktop/cs.jpg);
}
.o h4 {
    margin: 10px 0;
    color: #d32f2f;
    min-width: 50px;
}
.o h3 {
    margin: 10px 0;
    color: #ffe0b2;
    background-color: #d32f2f;
    min-width: 50px;
}

.o p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3e2723
}

.o button{
    background-color: #3e2723;
    color: #ffe0b2;
}

.o button:hover{
    background-color: #ffe0b2;
    color: #3e2723;


}

.o{
    background-image: url(file:///C:/Users/Admin/Desktop/ca.jpg);
}

.q h4 {
    margin: 10px 0;
    color: #ffe0b2;
    min-width: 50px;
}
.q h3 {
    margin: 10px 0;
    color: #ffe0b2;
    background-color: #d32f2f;
    min-width: 50px;
}

.q p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3e2723
}

.q button{
    background-color: #3e2723;
    color: #ffe0b2;
}

.q button:hover{
    background-color: #ffe0b2;
    color: #3e2723;


}

.q{
    background-image: url(file:///C:/Users/Admin/Desktop/cb.jpg);
}.r h4 {
    margin: 10px 0;
    color: #d32f2f;
    min-width: 50px;
}
.r h3 {
    margin: 10px 0;
    color: #ffe0b2;
    background-color: #d32f2f;
    min-width: 50px;
}

.r p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3e2723
}

.r button{
    background-color: #3e2723;
    color: #ffe0b2;
}

.r button:hover{
    background-color: #ffe0b2;
    color: #3e2723;


}

.r{
    background-image: url(file:///C:/Users/Admin/Desktop/cc.jpg);
}

.w{
    color: #ffe0b2;

}
